@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Pacifico&display=swap');


h1{
    text-align: center;
    margin-top: 300px;
}

button{
    width: 200px;
    padding: 10px 40px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    background-color: #f45775;
    color: white;
    font-size: 25px;
    padding: 13px 0px;
    border: 2px solid white;
}


canvas {
    background-color: rgb(243, 233,198, 0.75);
    margin-top: -125px;
    margin-bottom: 80px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 700px;
    display: none;
}

body{
    background-image: url("../imagenes/fondo.jpg")
}

p{
    font-family: 'Courgette', cursive;
    color: #f45775;
    font-size: 21px;
}

audio{
    display: none;
}


 #imagen-titulo{
    display: block;
    margin: auto;  
    margin-top: 280px;
 }

#game-over {
    display: none; 
}


#game {
    display: none; 
    background-color:rgb(243, 233,198, 0.75);
    width: 285px;
    margin-left: 50px;
    padding: 20px 50px;
    margin-top: 80px;
}

#game-over-imagen{
    display: block;
    margin: auto;
    width: 35%;
}

#instrucciones{
    font-family: 'Courgette', cursive;
    color: #f45775;
    display: block;
    text-align: center;    
    font-size: 26px;
    padding-top: 23px;    
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    user-select: none;
  }

  .popup .popuptext {
    visibility: hidden;
    width: 700px;
    background-color: #ac848be8;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 30%;
    font-size: 23px;
  }
  
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

  #puntos-ganados{
    font-family: 'Courgette', cursive;
    color: #f45775;
    font-size: 28px;
    text-align: center;
    display: block;
  }

  #puntos-game-over{
    text-align: center;
    display: block;
    font-size: 28px;
  }

  #countdown{
    border: 5px solid #f45775;
    display: inline;
    padding: 7px 15px;
    
  }