@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Pacifico&display=swap');


h1{
    text-align: center;
    margin-top: 300px;
}

button{
    width: 200px;
    padding: 10px 40px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    background-color: #f45775;
    color: white;
    font-size: 25px;
    padding: 13px 0px;
    border: 2px solid white;
}


canvas {
    background-color: rgb(243, 233,198, 0.75);
    margin-top: -125px;
    margin-bottom: 80px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 700px;
    display: none;
}

body{
    background-image: url("../imagenes/fondo.jpg")
}

p{
    font-family: 'Courgette', cursive;
    color: #f45775;
    font-size: 21px;
}


 #imagen-titulo{
    display: block;
    margin: auto;  
    margin-top: 280px;
 }

#game-over {
    display: none; 
}


#game {
    display: none; 
    background-color:rgb(243, 233,198, 0.75);
    width: 285px;
    margin-left: 50px;
    padding: 20px 50px;
    margin-top: 80px;
}

#game-over-imagen{
    display: block;
    margin: auto;
    width: 35%;
}
